<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Adding bootstrap -->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/myform.css">
  <title>Document</title>
</head>

<body>
  <div class=" mt-4 w-25 text-center text-center bg-grey">
    <h2 class=" fw-bold border-2 shadow ">FORM</h2>
  </div>

  <div class="container mt-5 pt-5 me-5">
    <form class="border w-50 bg-white p-5 shadow" id="form1">
      <!-- first start -->
      <div class="row align-items-center justify-content-center my-5">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label ">Stream<span class="text-danger">*</span></label>
        </div>
        <div class="col">
          <select class="form-select" aria-label="Default select example" name="stream">
            <option value="Engineering Technology and Science">Engineering Technology and Science</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
          </select>
        </div>
        <div class="mt-5 pt-5">
        </div>
        <button type="submit" class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow">Next</button>
      </div>
      <!-- first end -->

      <!-- second start -->

      <div class="row align-items-center justify-content-center my-5">
        <div class="mb-3 row col-sm-12">
          <label for="Subject1" class="col-sm-4 col-form-label ">Subject1<span class="text-danger">*</span> </label>
          <div class="col-sm-8">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="Subject2" class="col-sm-4 col-form-label ">Subject2<span class="text-danger">*</span> </label>
          <div class="col-sm-8">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="Subject3" class="col-sm-4 col-form-label ">Subject3<span class="text-danger">*</span> </label>
          <div class="col-sm-8">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="Subject3" class="col-sm-6 col-form-label ">Optional Subject1<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="OptSubject3" class="col-sm-6 col-form-label ">Optional Subject2<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mt-5 pt-5">

        </div>
        <button type="button"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Previous</button>

        <button type="button"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Next</button>
      </div>
    <!-- second end -->

    <!-- third start -->
      <div class="row align-items-center justify-content-center my-5">
        <div class="mb-3 row col-sm-12">
          <label for="AoI1" class="col-sm-6 col-form-label ">Area of interest-1<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example" >
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="AoI2" class="col-sm-6 col-form-label ">Area of interest-2<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="AoI3" class="col-sm-6 col-form-label ">Area of interest-3<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row col-sm-12">
          <label for="PT1" class="col-sm-6 col-form-label ">Personality Traits<span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="mt-5 pt-5">

        </div>
        <button type="button"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Previous</button>

        <button type="button"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Next</button>
      </div>


    <!-- third end-->

    <!-- fourth start -->
      <div class="row align-items-center justify-content-center">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-6 col-form-label">Overall GPA<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Value(1-10)" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-6 col-form-label">Communication Skills<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Value(1-10)" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-6 col-form-label">Study Hours<span
              class="text-danger">*</span><br>(per week)</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Value(1-10)" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-6 col-form-label">Competitive Exam <br>GPA (if yes)</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Value(1-10)" id="inputPassword">
          </div>
        </div>

        <div class="mt-5 pt-5">
        </div>
        <button type="button"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Previous</button>

        <button type="submit"
          class="btn btn-outline-secondary btn-primary w-25 mt-5 text-white shadow mx-4">Submit</button>
      </div>

    </form>
    <!-- fourth end -->
  </div>


  <!--adding javascript-->
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/myform.js"></script>
</body>

</html>